---
layout: page
title: My Blog
permalink: /blog/
---


{% for post in site.posts %}
	<a class="article-listing" href="{{post.url}}">
		{% if post.img %}<figure class="article-img"><img src="/img/{{ post.img }}" alt="Image for {{ post.title}}"></figure>{% endif %}
		{% if post.title %}<h1 class="article-title">{{post.title}}</h1>{% endif %}
		{% if post.line %}<p class="article-line">{{post.line}}</p>{% endif %}
		<p class="article-meta">{{post.date | date: "%B %d, %Y"}}</p>
			<p class="excerpt">{{post.content | truncatewords: 20, '...'}}</p>
	</a>
{% endfor %}
