---
layout: page
title: My Work
subtitle: "Technical and Design projects I've been part of"
permalink: /portfolio/
---

{% assign items = site.portfolio | sort: 'order' | reverse %}
{% for post in items %}

<div class="article-listing">
    <a href="{{post.url}}"><h1>{{post.title}}</h1></a>
    <p>{{post.blurb}}</p>
    <p class="article-meta">{{post.when}}
        {% if post.link != "" %}
            &bullet; <a href="{{post.link}}">{{post.link}}</a>
        {% else %}
            &bullet; <i>No longer online</i>
        {% endif %}
    </p>
</div>

{% endfor %}
