---
layout: base
---

<header class="portfolio-header">
	<h1>{{ page.title }}</h1>
	<p class="portfolio-link"><a href="{{ page.link }}">{{ page.link }}</a></p>
	<p class="portfolio-blurb">{{ page.blurb }}</p>
	<p class="portfolio-stats">
		<span class="item">When: <span class="stat">{{ page.when }}</span></span>
		<span class="item">Platform: <span class="stat">{{ page.platform }}</span></span>
		<span class="item">My work: <span class="stat">{{ page.work }}</span></span>
	</p>
</header>

<div class="portfolio-content">

<div class="content-wrap">

{{ content }}

</div>

<a class="portfolio-back-link" href="/portfolio/">&larr; Back to Portfolio</a>

</div>