.portfolio-flex {
  display: flex;
  padding: 5vw 10vw;
  max-width: 105rem;
}

@media screen and (max-width: 900px) {
  .portfolio-flex {
    display: block;
    padding: 1em 5vw;
  }
}

.portfolio-header {
  width: 40%;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.85);
  margin-right: 5vw;
}

.portfolio-header h1 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 0.1em;
  line-height: 1;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.portfolio-blurb {
  font-size: 1.4em;
  /* max-width: 70%; */
  font-weight: lighter;
  /* margin: 0 auto 1.7em; */
  line-height: 1.3;
}

.portfolio-link {
  margin-bottom: 2em;
  margin-top: 2em;
}

.portfolio-link a {
  color: rgba(0, 0, 0, 0.85);
  font-style: italic;
  font-weight: bold;
  font-size: 1.6em;
}

@media screen and (max-width: 1100px) {
  .portfolio-header h1 {
    font-size: 2.5em;
  }

  .portfolio-blurb {
    font-size: 1.2em;
  }

  .portfolio-link a {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 900px) {
  .portfolio-header {
    width: 100%;
    padding: 5vw;
    margin-right: 0;
  }
}

.portfolio-stats {
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

.portfolio-stats .item {
  display: block;
}

.portfolio-stats .stat {
  color: rgba(0, 0, 0, 0.85);
}

.portfolio-content {
  margin: 0 auto;
  max-width: 100%;
}

.portfolio-back-link {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.portfolio-back-link:hover {
  text-decoration: underline;
}

.portfolio-image {
  border: 1px solid black;
  background-color: white;
  margin: 2em 0;
  clear: both;

  max-width: 120%;
  margin-left: -10%;
  box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.6);
}

.portfolio-image-small {
  border: 1px solid black;
  background-color: white;
  margin: 2em 0;
  clear: both;

  box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.6);
}

.portfolio-image-right {
  width: 50%;
  float: right;
  margin-right: -25%;
  margin-left: 10%;
  margin-top: 1em;
  border: 1px solid black;
  box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.6);
}
