/**
 * Scaffholding
 */
body,
html {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background: #2e2e66;
  color: #eee;
  text-shadow: none;
}

html {
  font-size: 18px;
}

body {
  font-family: "freight-sans-pro", sans-serif;
  background: #dde2de;
  min-height: 100vh;
  color: #151515;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "freight-display-pro", serif;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #295bad;
}

figure {
  margin: 0;
}

code {
  font-family: "novel-mono-pro-condensed", monospace;
  font-size: 0.8em;
  color: rgb(9, 54, 55);
  background: rgba(0, 0, 0, 0.12);
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 4px;
}

pre {
  font-family: "novel-mono-pro-condensed", monospace;
  overflow: scroll;
  max-height: 550px;
  padding: 12px;
  line-height: 1.5;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

pre code {
  background: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.content,
.list {
  max-width: 42rem;
  width: 90vw;
  margin-left: 5vw;
  line-height: 1.6;
}

.content {
  padding: 1.5em;
  background-color: #fafafa;
  box-shadow: 0 0 0.5em hsla(0, 0%, 0%, 0.3), 0 0 1.5em hsla(0, 0%, 0%, 0.1);
}

@media screen and (min-width: 1400px) {
  .content {
    padding: 3em;
  }
}

.content:after,
.list:after {
  content: "";
  display: table;
  clear: both;
}

.content p,
.content pre,
.content ul,
.content ol,
.content hr {
  margin: 1.6em 0 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 1.3em 0 0;
}

.content p:first-child,
.content pre:first-child,
.content ul:first-child,
.content ol:first-child,
.content hr:first-child,
.content h1:first-child,
.content h2:first-child,
.content h3:first-child,
.content h4:first-child,
.content h5:first-child,
.content h6:first-child {
  margin-top: 0;
}

.content--alert {
  background: rgb(204, 216, 210);
  padding: 1em;
  border: 1px solid #222;
  margin: 1.5em 0;
  font-weight: bold;
}

.content--alert p:last-child {
  margin-bottom: 0;
}

/**
 * Page Header
 */

.page-header {
  padding: 5vw calc(5vw + 1rem);
  max-width: 60vw;
}

@media screen and (min-width: 1400px) {
  .page-header {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

@media screen and (max-width: 750px) {
  .page-header {
    max-width: 80vw;
  }
}

.page-header h1,
.page-header h2 {
  font-family: "freight-sans-pro";
}

.page-header h1 {
  font-size: 2.8em;
}

.page-header h2 {
  text-transform: uppercase;
  color: #444;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-top: 0.3em;
  font-size: 1.3em;
}

/**
 * Page Footer and Super Header
 */
.page-footer,
.super-header {
  background-color: #1e4037;
  color: hsla(360, 0%, 100%, 0.8);
  padding: 1em 5vw;
}

.page-footer a:hover,
.super-header a:hover {
  text-decoration: underline;
}

.super-header {
  white-space: nowrap;
  overflow-x: scroll;
}

.super-header a {
  color: currentcolor;
  text-decoration: none;
}

.page-footer {
  margin-top: 8em;
}

.page-footer a {
  color: currentColor;
}

.super-header > * {
  margin-right: 1em;
}

.super-header .branding {
  font-weight: bold;
}

.page-footer p {
  margin: 0;
}

/**
 * List
 */

.article-listing {
  display: block;
  padding: 1.5em;
  margin-bottom: 1.5em;
  background-color: #fafafa;
  box-shadow: 0 0 0.5em hsla(0, 0%, 0%, 0.3), 0 0 1.5em hsla(0, 0%, 0%, 0.1);
}

.article-listing h1 {
  line-height: 1;
  font-size: 1.8em;
}

.article-listing a {
  color: #295bad;
}

.article-listing .article-meta {
  color: #555;
  /* font-size: 0.9em; */
  margin: 0.2em 0 1.5em;
}

.article-listing .article-meta:last-child {
  margin-bottom: 0;
}

.article-listing .excerpt {
  /* padding: 1em; */
  font-size: 0.95em;
  /* border-left: 2px solid #ccc; */
  /* background: hsla(0, 0%, 0%, 0.05); */
}

.article-listing .excerpt > * {
  margin: 0;
  margin-bottom: 1em;
}

.article-listing .excerpt a {
  color: currentColor;
}

.article-listing .excerpt > *:last-child {
  margin-bottom: 0;
}

/**
 * Post Page
 */

.article-image--right {
  width: 70%;
  float: right;
  margin: 0em -8em 1em 1em;
  background: #eee;
  padding: 1em;
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  margin-top: 0.5em;
  line-height: 1.2;
}

blockquote {
  background: hsla(0, 0%, 0%, 0.05);
  margin: 0;
  padding: 1em;
  border-left: 3px solid hsla(0, 0%, 0%, 0.6);
  margin-bottom: 1.6rem;
  font-size: 0.9em;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}
